<h1 class="mb-3">Account Details</h1>

<div class="row">
  <div class="col-lg-3">
  <%= render 'shared/sidebar' %>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo temporibus delectus ducimus at, commodi ratione nihil molestias modi? Tempora, maxime possimus at est soluta in veritatis ut ducimus impedit debitis?
      </div>
    </div>
  </div>
</div>