

<p>Dear <%= @user.email %>,</p>

<p>We are sorry to inform you that your account has been blocked and all your account privileges have been suspended for <%= @business.name %> Business.</p>

<p>After careful consideration, we have decided to block your account due to a violation of our community guidelines.</p>

<p>We take violations of our community guidelines very seriously and we are committed to ensuring a safe and positive experience for all our members.</p>

<p>If you have any questions or concerns, please do not hesitate to reach out to us.</p>

<p>Thank you for your understanding.</p>

<p>Best regards,</p>
<p>Business Owner</p>
<p><%= @business.name %></p>