
<p>Dear <%= @user.email %>,</p>

<p>We are pleased to inform you that your account has been unblocked and your account privileges have been restored for <strong><%= @business.name %></strong> Business.</p>

<p>We apologize for any inconvenience this may have caused and we thank you for your patience and understanding.</p>

<p>If you have any questions or concerns, please do not hesitate to reach out to us.</p>

<p>Thank you.</p>

<p>Best regards,</p>
<p>Business Owner</p>
<p><%= @business.name %></p>

